.item,.sub {
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
}

.item {
  text-align: center;

  & + .item {
    margin-top: 32px;

    @media (max-width: 600px) {
      margin-top: 28px;
    }
  }
}

.sub {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 32px;

  @media (max-width: 600px) {
    margin-top: 28px;
  }
}

.icon_plate {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: url(../../../assets/icons/icon_plate2.png);
}