.wrapper {
  margin: 6.106% 0;

  @media (max-width: 768px) {
    margin: 24px 0 32px;
  }
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    font-size: 18px;
    color: #828282;
    border-radius: 2px;
    background: #F2F2F2;
    cursor: pointer;

    @media (max-width: 768px) {
      width: 32px;
      height: 32px;
      font-size: 16px;
    }

    &.active {
      color: #fff;
     background: #ED7101; 
    }
  }
}