.wrapper {
    position: relative;
}

.btn {
    width: 100%;
    font-size: 1rem;
    line-height: 19px;
    padding: 16px 19px;
    color: #333;
    background: #DFDFDF;
    text-align: left;
    border-radius: 6px;
}

.option {
    overflow: auto;
    position: absolute;
    top: 58px;
    left: 0;
    width: 100%;
    max-height: 238px;
    z-index: 1;
    border-radius: 6px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.13);

    @media (max-width: 600px) {
        max-height: 150px;
    }
}

.list {
    padding: 10px 0;
    background: #fff;
}

.item {
    padding: 7px 16px;
    line-height: 22px;
    cursor: pointer;

    &.active {
        color: #fff;
        background: #FF7A00;

        &:hover {
            background: #FF7A00;
        }
    }

    &:hover {
        background: rgba(255, 122, 0, 0.2);
    }
}

.icon_arrow {
    position: absolute;
    right: 19px;
}

.current {
    padding: 14px 16px;
    font-weight: 600;
    line-height: 20px;
}

.sort {
    min-width: 170px;
}