.wrapper,
.video {
  position: relative;
}

.video {
  font-size: 0;
}

.box {
  position: relative;
  width: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);

  iframe {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.alert {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 59px;
  font-size: 18px;
  color: #000;
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  z-index: 2;

  @media (max-width: 600px) {
    height: 32px;
  }
}