.wrapper {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}

.inner {
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 279px;
  width: 587px;
  margin: 16px;
  padding: 60px 42.5px;
  background: #fff;
  border-radius: 20px;

  @media (max-width: 600px) {
    max-height: calc(100% - 32px);
    min-height: 260px;
    padding: 16px;
  }
}

.btn {
  position: absolute;
  top: 24px;
  right: 23px;
  width: 40px;
  height: 40px;
  background: url('../../assets/icons/icon_close.png');

  @media (max-width: 600px) {
    top: 14px;
    right: 16px;
    width: 24px;
    height: 24px;
    background-size: cover; 
  } 
}