.wrapper {
  display: flex;
  gap: 23px;
  padding: 29px;
}

.menu {
  width: 337px;
  padding: 29px 23px;
  border: 1px solid #E0E0E0;
  border-radius: 12px;
}

.nav_lst {
  margin-top: 21px;
}

.nav_ite {
  padding: 12px 16px;
  font-size: 16px;
  line-height: 22px;
  color: #333;
  font-weight: bold;
  background: #F2F2F2;
  border-radius: 6px;
  font-family: 'Open Sans', sans-serif;

  &.active {
    background: #FF7A00;
    color: #fff;
  }

  & + .nav_ite {
    margin-top: 9px;
  }
}

.title {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #333;
  font-size: 21px;
  line-height: 29px;
  text-align: center;
}

.box {
  flex: 1;
}

.filter {
  display: flex;
  justify-content: space-between;
}

.search {
  display: flex;
  gap: 12px;
}

.input {
  width: 406px;
  padding: 13px 16px;
  font-size: 16px;
  line-height: 22px;
  border-radius: 8px;
  background: #E0E0E0;
}

.btn {
  min-width: 163px;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  background: #00023B;
  border-radius: 8px;
}

.content {
  margin-top: 34px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 12px;

  @media (max-width: 600px) {
    gap: 24px 12px;
  }
}

.item {
  width: calc((100% - 24px)/3);

  @media (max-width: 600px) {
    width: calc((100% - 12px)/2);
  }
}

.img {
  width: 100%;
}

.name {
  overflow: hidden;
  display: block;
  display: -webkit-box;
  max-height: 38px;
  color: #333;
  font-size: 16px;
  line-height: 19px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.pagination {
  margin: 6.106% 0;

  @media (max-width: 600px) {
    margin: 24px 0 32px;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    font-size: 18px;
    color: #828282;
    border-radius: 2px;
    background: #F2F2F2;

    @media (max-width: 600px) {
      width: 32px;
      height: 32px;
      font-size: 16px;
    }

    &.active {
      color: #fff;
     background: #ED7101; 
    }
  }
}