.wrapper {
  position: relative;
}

.box {
  position: relative;
  padding-bottom: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.skip {
  position: absolute;
  bottom: 9.285%;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 7px;
  min-width: 132px;
  padding: 11px 8px 9px 17px;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.icon_plate {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-left: 14px;
  background: url(../../../assets/icons/icon_plate4.png);
}

.icon_skip {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../../../assets/icons/icon_skip.png);
}