.wrapper, .video {
  position: relative;
}

.box {
  position: relative;
  padding-bottom: 56.25%;
  z-index: 1;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.group_btn {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100%;
}

.btn {
  position: absolute;
  font-size: 0;
  background: transparent;

  &.disable {
    pointer-events: none;
    cursor: auto;
  }
}

.bookmark {
  top: 1.73%;
  left: 8.75%;

  @media (max-width: 600px) {
    top: 16px;
    left: 16px;
  }

  &.active {
    .icon_bookmark {
      background-image: url(../../../assets/icons/icon_bookmark_active.png);
    }
  }
}

.prev {
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}

.icon_prev {
  display: inline-block;
  width: 77px;
  height: 77px;
  background-image: url(../../../assets/icons/icon_prev.png);

  @media (max-width: 600px) {
    width: 32px;
    height: 32px;
    background-size: cover;
  }
}

.skip {
  bottom: 9.285%;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 7px;
  min-width: 132px;
  padding: 11px 8px 9px 17px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  pointer-events: none;
  background: rgba(255, 255, 255, 0.2);

  @media (max-width: 600px) {
    min-width: 106px;
    font-size: 14px;
    gap: 10px;
    padding: 5px 10px;
  }

  &.active {
    pointer-events: visible;
  }
}

.icon_plate {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-left: 14px;
  background-image: url(../../../assets/icons/icon_plate4.png);

  @media (max-width: 600px) {
    width: 24px;
    height: 24px;
    margin-left: 0;
    background-size: cover;
  }
}

.icon_skip {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../../../assets/icons/icon_skip.png);
}

.icon_bookmark {
  display: inline-block;
  width: 66px;
  height: 66px;
  background-image: url(../../../assets/icons/icon_bookmark.png);

  @media (max-width: 600px) {
    width: 32px;
    height: 32px;
    background-size: cover;
  }
}

.title {
  position: absolute;
  bottom: 4.568%;
  padding: 0 4.306%;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  font-weight: 500;

  @media (max-width: 600px) {
    position: static;
    margin-top: 15px;
    padding: 0 16px;
    font-size: 16px;
    line-height: 19px;
    color: #333;
  }
}