.wrapper {
  background: #00023C;
}

.inner {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0 16px;
  max-width: 1440px;
  margin: auto;
  padding: 20px 8.75% 21px;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 0 22px;
    padding: 18px 21px 20px;
  }

  @media (max-width: 530px) {
    display: flex;
  }

  &.loggedin {
    
    flex-direction: row;
    align-items: center;

    @media (max-width: 530px) {
      display: grid;
      grid-template-columns: 1fr 74px 28px;
      grid-template-rows: repeat(2, auto);
      grid-column-gap: 18px;
    }

    .link {
      background-position: center left;
    }

    .logo {
      margin-right: auto;
      @media (max-width: 768px) {
        order: 1;
      }

      @media (max-width: 530px) {
        grid-area: 1 / 1 / 2 / 2;
      }
    }

    .btn_group {
      @media (max-width: 768px) {
        width: auto;
      }
      
      &.type {
        margin-left: auto;

        @media (max-width: 768px) {
          order: 2;
        }

        @media (max-width: 530px) {
          grid-area: 1 / 2 / 2 / 3;
        }
      }
    }

    .btn_lang {
      position: relative;
      top: 0;
      right: 0;

      @media (max-width: 768px) {
        order: 4;
      }

      @media (max-width: 530px) {
        grid-area: 1 / 3 / 2 / 4;
      }
    }
  }
}

.logo {
  width: 163px;
  height: 80px;

  @media (max-width: 768px) {
    width: 94px;
    height: 44px;
  }

  @media (max-width: 472px) {
    // order: 1;
  }
}

.link {
  display: block;
  height: 100%;
  background-image: url(../../assets/logo.png);
  background-repeat: no-repeat;
  background-position: center left;

  @media (max-width: 768px) {
    background-image: url(../../assets/logo_m.png);
  }
}

.btn_group {
  display: flex;

  @media (max-width: 768px) {
    width: 100%;
  }

  &.type {
    gap: 12px;

    @media (max-width: 768px) {
      gap: 18px;

      .btn {
        gap: 0;
        font-size: 0;
      }
    }
  }

  &.type2 {
    gap: 9px;

    @media (max-width: 768px) {
      order: 3;
      margin-top: 12px;
    }

    .btn {
      min-width: 96px;
      width: auto;
      height: 43px;
      padding: 0 16px;
      color: #00023C;
      background: #fff;

      &.login {
        color: #fff;
        background: #FF7A00;
      }

      @media (max-width: 768px) {
        width: auto;
        flex: 1;
      }
    }
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  width: 28px;
  height: 28px;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border-radius: 12px;
}

.btn_lang {
  position: absolute;
  right: 5.75%;
  z-index: 4;

  @media (max-width: 768px) {
    position: absolute;
    top: 29px;
    right: 21px;
  }
}

.option {
  position: absolute;
  top: 36px;
  right: 0;
  width: 160px;
  max-height: 300px;
  border-radius: 6px;
  overflow: auto;
  box-shadow: 0px 4px 16px rgb(0 0 0 / 13%)
}

.list {
  padding: 10px 0;
  background: #fff;
}

.item {
  padding: 7px 12px;
  line-height: 18px;
  color: #333;
  font-size: 14px;
  font-weight: normal;
  text-transform: capitalize;
  cursor: pointer;

  &.active {
    color: #fff;
    background: #FF7A00;

    &:hover {
      background: #FF7A00;
    }
  }
  &:hover {
    background: rgba(255, 122, 0, 0.2);
  }
}