.wrapper {
  background: var(--primary);
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: auto;
  padding: 2.063rem 7.875rem 2.125rem;
}

.logo {
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
  color: var(--white);
  font-family: 'Poppins', sans-serif;
}

.btn {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  color: var(--white);
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;
}

.icon_user {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin-right: 9px;
  background: url('../../assets/icons/icon_user.png');
}