.wrapper {
  background: #00023C;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: auto;
  padding: 20px 8.75% 21px;

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    padding: 18px 21px 20px;
  }

  &.loggedin {
    flex-direction: row;
    align-items: center;

    .link {
      background-position: center left;
    }

    .btn_group {
      @media (max-width: 600px) {
        width: auto;
      }
    }
  }
}

.logo {
  width: 200px;
  height: 80px;

  @media (max-width: 600px) {
    width: 150px;
    height: 44px;
  }
}

.link {
  display: block;
  height: 100%;
  background-image: url(../../assets/logo.png);
  background-repeat: no-repeat;
  background-position: center left;

  @media (max-width: 600px) {
    background-image: url(../../assets/logo_m.png);
  }
}

.btn_group {
  display: flex;

  @media (max-width: 600px) {
    width: 100%;
  }

  &.type {
    gap: 36px;

    @media (max-width: 600px) {
      gap: 18px;

      .btn {
        gap: 0;
        font-size: 0;
      }
    }
  }

  &.type2 {
    gap: 9px;

    .btn {
      width: 145px;
      height: 43px;
      color: #00023C;
      background: #fff;

      &.active {
        color: #fff;
        background: #FF7A00;
      }

      @media (max-width: 600px) {
        width: auto;
        flex: 1;
      }
    }
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border-radius: 12px;
}