.wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;

    @media (max-width: 768px) {
        order: 2;
        min-width: 219px;
        font-size: 16px;
    }

    @media (max-width: 530px) {
        // order: 5;
    }
}

.num {
    color: #FF7A00;
}