.wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;

    @media (max-width: 600px) {
        flex-direction: column;
    }
}

.num {
    color: #FF7A00;
}