.wrapper {
  padding-bottom: 64px;
}
.group {
  display: flex;
  justify-content: center;
  gap: 19px;
  margin-top: 40px;
  padding: 0 7.9167%;

  @media (max-width: 600px) {
    gap: 10px;
    margin-top: 24px;
    padding: 0 16px;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  flex: 1;
  height: 59px;
  padding: 12px 24px;
  font-size: 18px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 12px;

  @media (max-width: 600px) {
    padding: 0;
  }
}

.get_spin {
  background: #FF7A00;   
}

.push {
  background: #00023C;
}

.add {
  font-size: 20px;
  color: #000;
  background: transparent;
  border-color: #000;
}

.icon_plate {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url(../../assets/icons/icon_plate.png);
}

.reward {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 77px;
  padding: 20px;
  color: #FF9800;
  font-size: 32px;
  font-weight: bold;
  background: linear-gradient(90deg, rgba(255, 244, 197, 0) 13.76%, #FFF4C5 38.59%, rgba(255, 244, 197, 0) 85.84%);
  border-radius: 2px;

  @media (max-width: 600px) {
    margin-top: 31px;
    font-size: 24px;
  }
}

.icon_cup {
  display: inline-block;
  width: 82px;
  height: 82px;
  margin-right: 14px;
  background: url(../../assets/icons/icon_cup.png);

  @media (max-width: 600px) {
    width: 48px;
    height: 48px;
    margin-right: 8px;
    background-size: cover;
  }
}

.btn_help {
  margin-left: 28px;
  font-size: 0;
  background: transparent;

  @media (max-width: 600px) {
    margin-left: 6px;
  }
}

.icon_help {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url(../../assets/icons/icon_help.png);

  @media (max-width: 600px) {
    width: 28px;
    height: 28px;
    background-size: cover;
  }
}