.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 633px;
  margin: 0 auto;
  padding: 60px 0; 
}

.title {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #333;
  font-size: 21px;
  line-height: 29px;
  text-align: center;
}

.menu {
  width: 337px;
  padding: 29px 23px;
  border: 1px solid #E0E0E0;
  border-radius: 12px;
}

.nav_lst {
  margin-top: 21px;
}

.nav_ite {
  display: block;
  padding: 12px 16px;
  font-size: 16px;
  line-height: 22px;
  color: #333;
  font-weight: bold;
  background: #F2F2F2;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;

  &.active {
    background: #FF7A00;
    color: #fff;
  }

  & + .nav_ite {
    margin-top: 9px;
  }
}

.filter {
  display: flex;
  justify-content: space-between;

  @media (max-width: 832px) {
    flex-wrap: wrap;
  }
}

.search {
  display: flex;

  @media (max-width: 832px) {
    flex: 1;
  }

  .input ~ .btn_search {
    margin-left: 12px;
  }
}

.input {
  max-width: 406px;
  min-width: 156px;
  width: 100%;
  padding: 13px 16px;
  font-size: 16px;
  line-height: 22px;
  border-radius: 8px;
  background: #E0E0E0;
}

.btn_search {
  min-width: 163px;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  background: #00023B;
  border-radius: 8px;

  &.mo {
    display: none;
  }

  @media (max-width: 832px) {
    display: none;

    &.mo {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 48px;
    }
  }

  .icon_search {
    width: 32px;
    height: 32px;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 34px;
}

.item {
  width: calc((100% - 36px) / 4);
  padding: 20px 6px;

  @media (max-width: 1200px) {
    width: calc((100% - 24px)/3);
  }

  @media (max-width: 768px) {
    width: calc((100% - 12px)/2);
    padding: 12px 6px;
  }

  &:hover {
    .plaholder {
      opacity: 1;
    }
  }
}

.img {
  position: relative;
  font-size: 0;
  padding-bottom: 56.25%;
  
  img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.name {
  overflow: hidden;
  display: block;
  display: -webkit-box;
  max-height: 38px;
  margin-top: 12px;
  color: #333;
  font-size: 16px;
  line-height: 19px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.plaholder {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: .2s;
  background: rgba(0, 0, 0, 0.8);
}

.btn_control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: #fff;
  font-size: 16px;
  line-height: 22px;

  & + .btn_control {
    margin-left: 21px;
  }

  .icon_custom {
    margin-bottom: 8px;
  }
}

.tit {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  font-family: 'Open Sans', sans-serif;

  & ~ .tit {
    margin-top: 38px;
  }
}

h3.tit {
  & + .cont {
    margin-top: 25px;
  }
}

h4.tit {
  & + .cont {
    margin-top: 12px;
  }
}


.dimmed {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal {
  position: relative;
  max-width: 412px;
  padding: 66px 42px 32px;
  background: #fff;
  border-radius: 20px;
  text-align: center;

  @media (max-width: 768px) {
    max-height: calc(100% - 32px);
    min-height: 260px;
    padding: 16px;
  }

  &.update {
    min-width: 800px;
    text-align: left;
  }
}

.btn_close {
  position: absolute;
  top: 10px;
  right: 13px;
  font-size: 0;
  background: transparent;

  @media (max-width: 768px) {
    top: 14px;
    right: 16px;

    .icon_close {
      width: 24px;
      height: 24px;
    }
  }
}

.text {
  font-size: 16px;
  line-height: 22px;
  color: #333;
}

.group_btn {
  margin-top: 32px;

  .btn {
    width: 100%;
    height: 58px;
    border-radius: 12px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    background: #828282;
    font-family: "Open Sans", sans-serif;

    & + .btn  {
      margin-top: 8px;
    }

    &.confirm {
      background: #FF7A00;
    }
  }
}

.inp_text {
  width: 100%;
  height: 42px;
  padding: 10px 16px;
  font-size: 16px;
  line-height: 22px;
  color: #4F4F4F;
  border: none;
  outline: none;
  resize: none;
  border-radius: 8px;
  background: #E0E0E0;
  font-family: "Open Sans", sans-serif;
}

.submit {
  float: right;
  min-width: 181px;
  height: 45px;
  margin-top: 25px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  background: #FF7A00;
  border-radius: 12px;

  &.disabled {
    pointer-events: none;
    background: rgba(255, 122, 0, 0.8)
  }
}

.form {
  font-size: 0;
}

.file_box {
  position: relative;
  height: 175px;
  font-size: 16px;
  color: #000;
  border-radius: 12px;
  background: #f2f2f2;

  .txt {
    margin-left: 48px;
    padding-top: 41px;
  }
}

.btn_upload {
  display: flex;
  align-items: center;
  margin-top: 21px;
  margin-left: 52px;
  padding: 10px 12px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border-radius: 6px;
  background: #00023B;

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.icon_upload {
  display: inline-block;
  margin-left: 7px;
}

.img_file {
  position: absolute;
  top: 50%;
  right: 31px;
  transform: translateY(-50%);
  width: 260px;
  height: 146px;
  object-fit: cover;
  font-size: 0;
}

.img_thumb {
  width: 100%;
  height: 146px;
}

.file_inp {
  display: none;
}

.progress {
  overflow: hidden;
  display: block;
  height: 6px;
  margin-top: 16px;
  background: #aaa;
  border-radius: 4px;
}

.progress_bar {
  height: 6px;
  background: #4aa1f3;
}

.file_message {
  float: left;
  height: 45px;
  margin-top: 25px;
  font-size: 16px;

  &.error {
    color: red;
  }
}

.user_area {
  margin-top: 32px;

  table {
    width: 100%;
    background: #E0E0E0;
    border-collapse: collapse;
    font-family: 'Open Sans', sans-serif;
  }

  thead {
    td {
      color: #00023B;
      font-weight: bold;
    }
  }

  tr {
    height: 48px;
    
    border-bottom: 7px solid #fff;
  }

  td {
    color: #333;
    text-align: center;
  }

  th, td {
    padding: 8px 12px;
    line-height: 18px;
  }

  th ~ th,
  td ~ td {
    background-image: linear-gradient(#828282, #828282);
    background-size: 1px 32px;
    background-position: left center;
    background-repeat: no-repeat;
  }

  .link {
    display: block;
    overflow: hidden;
    width: 469px;
    white-space: nowrap;
    color: #004DA8;
    font-weight: 600;
    text-overflow: ellipsis;
  }

  .view_details {
    width: 156px;
    color: #FF7A00;
    font-weight: 600;
    font-size: 16px;
    background: transparent;
    text-decoration: underline;
  }

  .btn_delete {
    padding: 5px 17px;
    background: #EF2525;
    font-size: 16px;
    color: #fff;
    border-radius: 6px;
  }
}